.button-container {
 display: flex;
 justify-content: space-around;
 padding: 0 70px;
 align-items: center;
 height: 100vh;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
 flex-direction: column;

}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button-menu {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Button 1 */
.button-top:nth-child(1) {
  padding: 20px 40px;
  font-size: 34px;
  background-color: aqua;
  color: red;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button-top:hover {
  background-color: purple;
}

/* Button 2 */
.button-top:nth-child(2) {
  padding: 20px 40px;
  font-size: 33px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.menu-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* Button 3 */
.button-menu {
  width: 100%;
  padding: 10px 40px;
  font-size: 22px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button-menu:hover {
  background-color: purple;
}



.zuruck{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.button{
  padding: 10px 20px;
  font-size: 22px;
  bottom: 90px;
  right: 70px;
background-color: red;
  color: blue;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}

.input-container {
  width: 500px;
  padding: 10px ;
}

.input-container textarea {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: black !important;
  background-color: goldenrod;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  resize: vertical;
}