.button-container {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 100vh;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
  background-image: url("/assets/images/meer.jpg");
}

.button {
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Button 1 */
.button:nth-child(1) {
  padding: 20px 40px;
  font-size: 34px;
  top: 20px;
  left: 20px;
  background-color: aqua;
  color: red;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}

/* Button 2 */
.button:nth-child(2) {
  padding: 20px 40px;
  font-size: 35px;
  top: 50px;
  right: 150px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}


/* Button 3 */
.button:nth-child(3) {
   padding: 10px 35px;
   font-size: 22px;
  top: 180px;
  right: 175px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}

/* Button 4 */
.button:nth-child(4) {
  padding: 10px 10px;
  font-size: 22px;
  top: 250px;
  right: 175px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}

/* Button 5 */
.button:nth-child(5) {
  padding: 10px 13px;
  font-size: 22px;
  top:  320px;
  right: 175px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}
.button:nth-child(6) {
  padding: 10px 32px;
  font-size: 22px;
  top:  390px;
  right: 175px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}
.button:nth-child(7) {
  padding: 10px 47px;
  font-size: 22px;
  top:  460px;
  right: 175px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}

.button:nth-child(8) {
  padding: 10px 20px;
  font-size: 22px;
  bottom: 70px;
  right: 100px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}
.input-container {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 500px;
  padding: 10px ;
}

.input-container textarea {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: black !important;
  background-color: goldenrod;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 120%;
  
  resize: vertical;
}