<div class="button-container" [ngStyle]="{'background-image': `url(${this.ocean?.tierartenimage})`}">
  <div class="top">
    <button class="button-top" [routerLink]="['/']"><strong>Unsere Weltmeere</strong></button>
    <button class="button-top"><strong>{{this.ocean?.title}}</strong></button>
  </div>
  <div class="content">
    <div class="menu-container">
    </div>

    @if(myurl[2].path == 'tierarten'){
    @if(myurl[3].path == 'fische') {
    @if(ocean!.tierarten![0].name == myurl[3].path){
    @for(tier of ocean!.tierarten![0].tiere; track $index) {
    <div class="image-text">

      @if (tier.bilder.length) {
      <img [src]="tier.bilder[0]" alt="{{tier.name}} Bild">
      }
      <p><strong>{{tier.name}}</strong></p>
    </div>

    }
    }
    }

    @if(myurl[3].path == 'voegel') {
    @if(ocean!.tierarten![1].name == myurl[3].path){
    @for(tier of ocean!.tierarten![1].tiere; track $index) {
    <div class="image-text">

      @if (tier.bilder.length) {
      <img [src]="tier.bilder[0]" alt="{{tier.name}} Bild">
      }
      <p><strong>{{tier.name}}</strong></p>
    </div>
    }
    }
    }

    @if(myurl[3].path == 'sauge') {
    @if(ocean!.tierarten![2].name == myurl[3].path){
    @for(tier of ocean!.tierarten![2].tiere; track $index) {
    <div class="image-text">

      @if (tier.bilder.length) {
      <img [src]="tier.bilder[0]" alt="{{tier.name}} Bild">
      }
      <p><strong>{{tier.name}}</strong></p>
    </div>
    }
    }
    }

    @if(myurl[3].path == 'kruste') {
    @if(ocean!.tierarten![3].name == myurl[3].path){
    @for(tier of ocean!.tierarten![3].tiere; track $index) {
    <div class="image-text">

      @if (tier.bilder.length) {
      <img [src]="tier.bilder[0]" alt="{{tier.name}} Bild">
      }
      <p><strong>{{tier.name}}</strong></p>
    </div>
    }
    }
    }
    }

    @if(myurl[2].path == 'klima') {
    <div class="image-text">
      <img [src]="ocean?.klimaImage" alt="Tiefenprofil">
      <div>
      
      <p>{{ocean!.klimaText}}</p>
    </div>
    </div>
    }

    @if(myurl[2].path == 'tiefen') {
    <div class="image-text">
      <img [src]="ocean?.tiefeImage" alt="Tiefenprofil">
      <div>
        <p><strong>Maximale Tiefe:</strong> {{ocean!.tiefe}}</p>
        <p>{{ocean!.tiefeText}}</p>
      </div>
    </div>
    }

  </div>
  <div class="zuruck">
    <button class="button" [routerLink]="['../']"><strong>Zurück</strong></button>
  </div>
</div>