
.button-container  {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 0 70px;
align-items: center;
 min-height: 100vh;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;


}

.top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px 0;
}

.content{
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 20px;
}
.zuruck{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding:  20px 0;
}
.button-top {
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


/* Button 1 */
.button-top:nth-child(1) {
  font-size: 34px;
  background-color: aqua;
  color: red;
  
}
.button-top:nth-child(1):hover {
  background-color: purple;
}

/* Button 2 */
.button-top:nth-child(2) {
  font-size: 33px;
  background-color: green;
  color: white;
}
.button-top:nth-child(2):hover {
  background-color: purple;
}
.button{
  padding: 10px 20px;
  font-size: 22px;
  background-color: red;
  color: blue;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}

.image-text {
    width: 100%;
    margin: 15px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    
}
.image-text img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 20px;
    flex-shrink: 0;
}
.image-text p {
    margin-top: 0;
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 16px;
    color: #333;
    background-color: turquoise;
}


