.button-container {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 100vh;
 background-image: url("/assets/images/welt.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;

}

.button {
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.button:nth-child(1) {
  padding: 20px 40px;
  font-size: 34px;
  top: 20px;
  left: 20px;
  background-color: aqua;
  color: red;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}


.button:nth-child(2) {
  padding: 20px 40px;
  font-size: 32px;
  top: 60px;
  right: 280px;
background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}


.button:nth-child(3) {
   padding: 20px 40px;
   font-size: 32px;
  top: 60px;
  right: 80px;
background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}




.button:nth-child(4) {
  padding: 15px 30px;
  font-size: 32px;
  bottom: 180px;
  right: 140px;
background-color: red;
  color: blue;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: purple;
}
.input-container {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 500px;
  padding: 10px ;
}

.input-container textarea {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: black !important;
  background-color: goldenrod;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%;
  
  resize: vertical;
}